<%= javascript_include_tag 'swfobject' %>
<%= javascript_include_tag :defaults %>
<style type="text/css">
* {
  font-family: helvetica;
}

textarea.feed_item_text {
  height: 200px;
  background-color: #ccc;
  outline-style: none;
  width: 640px;
  font-size: 24px;
  border: none;
  padding: 10px;
}

#buttons {
  width: 640px;
  margin-top: 10px;
}

.instructions {
  background-color: #0070FF;
  width: 620px;
  color: #ffffff;
  padding: 10px;
  margin: 0;
}

#send {
  float: right;
  background-color: #000;
  color: #fff;
  border: none;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  vertical-align: top;
  margin: 0;
}

#camera {
  margin-bottom: 10px;
}
</style>

<p class="instructions"><strong>Step 1</strong> Click below to take your picture.</p>
<div id="camera"></div>

<div class="feed_item_wrapper">
<div class="snapshot" id="snapshot" style="display:none"></div>

<% form_for :feed_item, :url => { :action => :create } do |f| %>
<%= f.hidden_field :snapshot_id %>
<p class="instructions"><strong>Step 2</strong> Type a message in this box.</p>
<%= f.text_area :text, :class => 'feed_item_text' %>
<div id="buttons"><button type="submit" id="send">Send</button></div>
<% end %>
</div>

<%= javascript_tag "initCamera(#{snapshots_url.to_json});" %>
