<%= javascript_include_tag 'swfobject' %>
<%= javascript_include_tag :defaults %>
<style type="text/css">
* {
  font-family: helvetica;
}

#send {
  background-color: #000;
  color: #fff;
  border: none;
  font-size: 25px;
  font-weight: bold;
  padding: 10px;
  vertical-align: top;
  margin: 0 0 0 10px;
}
</style>

<div id="camera"></div>

<div class="message_wrapper">
<div class="snapshot" id="snapshot"></div>

<% form_for :message, :url => { :action => :create } do |f| %>
<%= f.hidden_field :snapshot_id %>
<%= f.text_area :text, :class => 'message_text' %><button type="submit" id="send">Send</button>
<% end %>
</div>

<%= javascript_tag "initCamera(#{snapshots_url.to_json});" %>
